<div class="container-fluid bg-gray mt-5 pt-5">
  <div class="row px-5">
    <div class="col-8 col-md-10 col-xl-11 me-4">
      <a role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook mx-2" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
        </svg>
      </a>
      <a role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter mx-2" viewBox="0 0 16 16">
        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
        </svg>
      </a>
      <a role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-youtube mx-2" viewBox="0 0 16 16">
          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg>
      </a>
    </div>

    <div class="col">
      <a href="#" class="border border-2 px-1 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="row px-5 pt-5">
    <div class="col-6 col-lg-2 px-3">

      <p class="text-muted">Recursos</p>

      <a role="button"><small>Apoie-um-Criador</small></a>
      <br>
      <a role="button"><small>Publicar na Epic Games</small></a>
      <br>
      <a role="button"><small>Carreiras</small></a>
    </div>

    <div class="col-6 col-lg-2 pt-4-5">

      <a role="button"><small>Empresa</small></a>
      <br>
      <a role="button"><small>Política</small></a>
      <br>
      <a role="button"><small>UX Research</small></a>
    </div>

    <div class="col-6 col-lg-2 pt-4-5">

      <a role="button"><small>EULA da loja</small></a>
      <br>
      <a role="button"><small>Serviços On-line</small></a>
      <br>
      <a role="button"><small>Regras da Comunidade</small></a>
    </div>

    <div class="col-10 col-lg-2">

      <p class="text-muted pt-4">Feito pela Epic Games</p>

      <div class="col-2 float-end">
        <a role="button"><small class="text-nowrap">Shadow Complex</small></a>
        <br>
        <a role="button"><small>Spyjinx</small></a>
        <br>
        <a role="button"><small class="text-nowrap">Unreal Tournament</small></a>
      </div>

      <a role="button"><small class="text-nowrap">Battle Breakers</small></a>
      <br>
      <a role="button"><small>Fortnite</small></a>
      <br>
      <a role="button"><small class="text-nowrap">Infinity Blade</small></a>
      <br>
      <a role="button"><small class="text-nowrap">Robo Recall</small></a>
    </div>

  </div>
  <div class="px-5 pt-2"><hr></div>

  <div class="row px-5">
    <div class="col col-xl-8 pt-4">
      <small>
        © 2021, Epic Games, Inc. Todos os direitos reservados. Epic, Epic Games, o logotipo da Epic Games, Fortnite, o logotipo do Fortnite, Unreal, Unreal Engine, o logotipo do Unreal Engine, Unreal Tournament e o logotipo do Unreal Tournament são marcas comerciais ou registradas da Epic Games, Inc. nos Estados Unidos da América e em outros lugares. Outras marcas e nomes de produtos são marcas registradas de seus respectivos donos. Transações para além dos EUA são feitas através da Epic Games International, S.à r.l.
      </small>
    </div>
  </div>

  <div class="row p-5">

    <div class="d-flex col-12 justify-content-center col-xl-2 justify-content-xl-start text-nowrap"><a role="button"><small>Termos de Serviço</small></a></div>
    <div class="d-flex col-12 justify-content-center col-xl-2 justify-content-xl-start text-nowrap"><a role="button"><small>Política de Privacidade</small></a></div>
    <div class="d-flex col-12 justify-content-center col-xl-2 justify-content-xl-start text-nowrap"><a role="button"><small>Política de Reembolso da Loja</small></a></div>

    <div class="col d-flex justify-content-center justify-content-lg-end pt-3">

      <a role="button" class="me-3"><img src="assets/img/logo_60x60.png" width="35"></a>
      <a role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 50 50">
          <path fill="white" d="M25 2C12.309 2 2 12.309 2 25s10.309 23 23 23 23-10.309 23-23S37.691 2 25 2zm0 2c11.61 0 21 9.39 21 21s-9.39 21-21 21S4 36.61 4 25 13.39 4 25 4zm-1.379 6.5C15.773 12.367 6.656 21.906 7.543 29.125c4.27-7.531 7.16-8.555 7.945-8.555.79 0 1.215.426 1.215 1.336V33.13c0 1.394-1.348 1.226-2.242 1.09C17.773 39.16 25.5 39.5 25.5 39.5l3.46-3.762 3.337 2.852c5.082-3.29 8.437-8.863 8.437-9.707-2.515 2.773-4.675 3.277-5.16 3.277-.484 0-1.273-.058-1.273-.726V18.12c0-1.156 3.18-4.95 4.183-6.226-6.613 1.734-9.16 5.039-9.16 5.039s-.89-.668-2.851-.668c.734.625 1.761 1.757 1.761 3.093v12.192s-2.187 1.578-3.46 1.578c-1.274 0-2.184-.543-2.184-1.516V17.051s-1.82 1.277-1.82-2.488c0-1.88 2.851-4.063 2.851-4.063z"/>
        </svg>
      </a>
    </div>
  </div>
</div>
