<div class="container py-5">
  <h5 class="ps-2 pb-3">Novos e populares</h5>

  <div class="row mx-auto">

    <div class="col-lg col-sm-12 bg-gray rounded-3 d-inline p-4 mx-1 my-2">
      <h5>Novos lançamentos</h5>

      <div class="row" *ngFor="let l of lancamentos">
        <a class="btn d-flex" role="button">
          <img class="rounded-2" [src]="l.capa" width="23%">

        <div>
          <p class="text-white ps-2 pt-4 float-start text-nowrap">{{ l.nome }}</p>
          <br><br><br>
          <div class="text-white px-2">
            <small class="promo mx-1" *ngIf="l.promo != '' ">{{ l.promo }}</small> <small class="text-decoration-line-through mx-1" *ngIf="l.precoAnt != '' ">{{ l.precoAnt }}</small> <small class="mx-1">{{ l.preco }}</small>
          </div>
        </div>

        </a>
      </div>
    </div>

    <div class="col-lg col-sm-12 bg-gray rounded-3 d-inline p-4 mx-1 my-2">
      <div class="d-flex">
        <h5 class="me-5">Mais vendidos</h5>

        <a class="btn btn-sm btn-outline-light rounded-3 ms-5 d-none d-md-block" role="button">Ver mais</a>
        <a class="btn btn-sm btn-outline-light rounded-3 ms-2 d-md-none" role="button">Ver mais</a>
      </div>

      <div class="row" *ngFor="let v of vendidos">
        <a class="btn d-flex" role="button">
        <img class="rounded-2" [src]="v.capa" width="23%">

        <div>
          <p class="text-white ps-2 pt-4 float-start text-nowrap">{{ v.nome }}</p>
          <br><br><br>
          <div class="text-white">
            <small class="promo mx-1" *ngIf="v.promo != '' ">{{ v.promo }}</small> <small class="text-decoration-line-through mx-1" *ngIf="v.precoAnt != '' ">{{ v.precoAnt }}</small> <small class="mx-1">{{ v.preco }}</small>
          </div>
        </div>
        </a>
      </div>
    </div>

    <div class="col-lg col-sm-12 bg-gray rounded-3 d-inline p-4 mx-1 my-2">
      <h5>Em Breve</h5>

      <div class="row" *ngFor="let b of breve">
        <a class="btn d-flex" role="button">
          <img class="rounded-2" [src]="b.capa" width="23%">

        <div>
          <p class="text-white ps-2 pt-4 float-start text-nowrap">{{ b.nome }}</p>
          <br><br><br>
          <div class="text-white px-2">
            <small class="promo mx-1" *ngIf="b.promo != '' ">{{ b.promo }}</small> <small class="text-decoration-line-through mx-1" *ngIf="b.precoAnt != '' ">{{ b.precoAnt }}</small> <small class="mx-1">{{ b.preco }}</small>
          </div>
        </div>

        </a>
      </div>
    </div>

  </div>

</div>
