<div class="container bg-gray rounded-3 p-4">
  <div class="d-flex mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16">
      <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"/>
    </svg>
      <h5 class="ps-3 pt-2">Jogos grátis</h5>
  </div>

  <div class="row">

    <div class="col d-none d-lg-block" *ngFor="let g of gratis">
      <a class="btn" role="button">
        <div class="rounded-3" [ngClass]="{'bg-primary': g.state == 'Gratis' , 'bg-black' : g.state == 'Em Breve'}">
          <img class="w-100 rounded-2" [src]="g.capa" height="369px">
          <span class="text-white">{{ g.state }}</span>
        </div>
      </a>
      <div class="m-3 lh-1">
        <h5>{{ g.nome }}</h5>
        <small class="text-muted">Grátis - 17 de jun.</small>
      </div>
    </div>
    <div class="col-6 col-md-4 d-lg-none" *ngFor="let g of gratis">
      <a class="btn m-0 p-2" role="button">
        <div class="rounded-3" [ngClass]="{'bg-primary': g.state == 'Gratis' , 'bg-black' : g.state == 'Em Breve'}">
          <img class="w-100 rounded-2" [src]="g.capa" height="220px">
          <span class="text-white">{{ g.state }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
