<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/destaques/d1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block w-75">
        <h3>Chivalry 2</h3>
        <p class="px-5 d-none d-lg-block">Chivalry 2 é um jogo de combate multijogador corpo-a-corpo em primeira pessoa inspirado em filmes de batalhas medievais épicas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/destaques/d2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-lg-block w-75">
        <h3>HUMANKIND™</h3>
        <p class=" d-none d-lg-block">HUMANKIND™ é um jogo de estratégia histórica em que você reescreve a história da humanidade, combinando culturas para criar uma civilização tão especial quanto você.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/destaques/d3.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block w-25">
        <h4>APLICATIVOS NA <img src="assets/img/logo_60x60.png" width="15%" height="15%"></h4>
        <p class="fs-5 d-none d-lg-block">JÁ DISPONÍVEL</p>
        <p class="row py-3 d-none d-lg-block">A Epic Games Store está expandindo sua seleção de aplicativos! Acesse uma mídia envolvente, bem como um ótimo conteúdo de jogos.</p>
        <a class="btn btn-primary px-6 py-3 text-nowrap">Saiba Mais</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/destaques/d4.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-lg-block w-75">
        <h3>Hood: Outlaws & Legends</h3>
        <p class=" d-none d-lg-block">Em um mundo medieval violento, vença gangues rivais em multiplayer PvPvE intensos. Seja movimentando-se com furtividade para roubar tesouros sem ser visto, seja através de combate brutal e chamativo.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/destaques/d5.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-lg-block w-75">
        <h3>Fortnite</h3>
        <p class=" d-none d-lg-block">Trave uma guerra cósmica no Capítulo 2: Temporada 7 do Fortnite — Invasão. Forças alienígenas se infiltraram na Ilha, e a Doutora Slone vai liderar as forças da O.I. contra elas.</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
